body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
/*
https://www.web-eau.net/blog/comment-realiser-un-menu-deroulant-en-css3#:~:text=La%20structure%20HTML,-La%20premi%C3%A8re%20%C3%A9tape&text=Ensuite%2C%20nous%20s%C3%A9lectionnons%20une%20des,pour%20cr%C3%A9er%20notre%20menu%20d%C3%A9roulant.
 */